{% extends 'base.html' %}

{% block title %}
Add Tea
{% endblock %}

{% block head %}
<style>
    #product-name-id {
        font-weight: bold;
        margin-top: 3px;
        margin-bottom: 5px;
    }
    input[type="submit"] {
        padding: 7px;
        margin: 10px;
        border: 5px double aquamarine;
        color: #5c636a;
    }
    input[type="submit"]:focus {
        border-color: red;
    }
</style>
{% endblock %}

{% block body %}
<form method="post">
    <label for="product-name-id">Tea name:</label>
    <input
            id="product-name-id"
            name="product-name"
            type="text"
            placeholder="{{ last_element_name }}"
            required
    >
    <br>
    <input id="submit-id" type="submit" value="Create">

</form>

<hr>
<a href="{{ url_for('product_app.list') }}">back to tea list</a>


{% endblock %}


